@use '@/assets/styles/variables' as *;
@use '@/assets/styles/placeholder' as *;
@use '@/assets/styles/mixins' as *;

.filters {
  display: flex;
  flex-direction: column;
  gap: $padding-medium;
  margin-bottom: $padding-large;

  &__tabs {
    display: flex;
    justify-content: center;
    gap: $padding-medium;

    button {
      @extend %button-common;
    }
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $padding-small;

    button {
      @extend %button-common;
    }
  }
}
