@use './variables' as *;
@use './placeholder' as *;
@use './mixins' as *;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol,
button {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}

input {
  outline-color: transparent;
  border: none;
}

button {
  background-color: transparent;
  outline-color: transparent;
  border: none;
  cursor: pointer;
}

body {
  background-color: $background-color;
  color: $text-color;
  @extend %font-primary;
  @include font(1rem);
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;

  @include media-laptop {
    max-width: 960px;
  }

  @include media-tablet {
    max-width: 720px;
  }


  @include media-mobile {
    max-width: 100%;
  }
}