@use '@/assets/styles/variables' as *;

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: $background-color;
  color: $text-color;
  padding: 1rem;


  &__message {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $secondary-color;
  }

  &__description {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  &__link {
    color: $primary-color;
    cursor: pointer;

    &:hover {
      color: $secondary-color;
    }
  }
}